{% extends "base.html.twig" %}

{% block body %}
	<style>
		body {
			background-color: #222;
			color: white;
		}
	</style>

    <h1 class="display-4 text-center my-4"> Création d'un nouvel article </h1>

    {{ form_start(formArticle,              {'attr': {'class': 'col-md-4 mx-auto'}                                                           }) }}
        {{ form_row(formArticle.title,      {'attr': {'placeholder': "Titre de l'article"},               'label': "Titre de l'article"      }) }}
        {{ form_row(formArticle.category,   {                                                             'label': "Catégorie"               }) }}
        {{ form_row(formArticle.content,    {'attr': {'placeholder': "Contenu de l'article"},             'label': "Contenu de l'article"    }) }}
        {{ form_row(formArticle.image,      {'attr': {'placeholder': "URL de l'image"},                   'label': "Image de l'article"      }) }}
        <button type="submit" class="btn btn-primary">
        {% if editMode %}   Enregistrer les modification
        {% else %}          Ajouter un article
        {% endif %}</button>
    {{ form_end(formArticle) }}


{% endblock %}