{% extends 'base.html.twig' %}

{% block title %}BackOffice | Gestion des categories
{% endblock %}

{% block body %}


	<h1 class="display-4 text-center my-4">BackOffice | Gestion des categories</h1>

	<div class="display-4 text-center  my-4"><a href="{{ path('admin_new_categorie') }}" class="btn btn-dark btn-lg"> Nouvel categorie </a></div>

	{% for message in app.flashes('success') %}
		<div class="bg-success text-white text-center col-md-4 mx-auto rounded p-3 m-4"> {{ message }} </div>
	{% endfor %}

	{% for message in app.flashes('warning') %}
		<div class="bg-warning text-dark text-center col-md-4 mx-auto rounded p-3 m-4"> {{ message }} </div>
	{% endfor %}



		<table class="table table-striped table-bordered table-dark table-bordered text-center">
			<thead class="thead-inverse">
				<tr>{% for data in colonnes %}
							<th class="bg-info align-middle">{{data|upper }}</th>
				{% endfor %}
							<th class="bg-info align-middle">NB ARTICLE</th>
							<th class="bg-info align-middle">EDIT</th>
							<th class="bg-info align-middle">SUPPR</th>
				</tr>
			</thead>
			<tbody>
				{% for data in categories %}
					<tr>
						
								<td class="align-middle">{{ data.id }}</td>
								<td class="align-middle">{{ data.title }}</td>
								<td class="align-middle">{{ data.description }}</td>

								<td class="align-middle">{{ data.articles|length }}</td>
								<td class="align-middle"><a href="{{ path('admin_edit_categorie', {'id': data.id}) }}"><i class="far fa-edit text-warning"></i></a></td>
								<td class="align-middle"><a onclick="return(confirm('Voulez vous vraiment supprimer cet categorie ?'))" href="{{ path('admin_delete_categorie', {'id': data.id}) }}"><i class="fas fa-trash-alt text-danger"></i></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

{% endblock %}
