{% extends 'base.html.twig' %}

{% block title %}BackOffice | Gestion des membres
{% endblock %}

{% block body %}


	<h1 class="display-4 text-center my-4">BackOffice | Gestion des membres</h1>


	{% for message in app.flashes('success') %}
		<div class="bg-success text-white text-center col-md-4 mx-auto rounded p-3 m-4"> {{ message }} </div>
	{% endfor %}

		<table class="table table-striped table-bordered table-dark table-bordered text-center">
			<thead class="thead-inverse">
				<tr>
				{% for data in colonnes %}
					{% if data != 'password' %}
							<th class="bg-info">{{data|upper }}</th>
					{% endif %}
					
				{% endfor %}
							<th class="bg-info">EDIT</th>
							<th class="bg-info">SUPPR</th>
				</tr>
			</thead>
			<tbody>
				{% for data in membres %}
					<tr>
						
							<td class="align-middle">{{ data.id }}</td>
							<td class="align-middle">{{ data.email }}</td>
							<td class="align-middle">{{ data.username}}</td>
							{# <td class="align-middle">{{ data.password }}</td> #} 
							<td class="align-middle">{{ data.roles[0] }}</td>

							<td class="align-middle"><a href="{{ path('admin_edit_membre', {'id': data.id}) }}"><i class="far fa-edit text-warning"></i></a></td>
							<td class="align-middle"><a onclick="return(confirm('Voulez vous vraiment supprimer cet membre ?'))" href="{{ path('admin_delete_membre', {'id': data.id}) }}"><i class="fas fa-trash-alt text-danger"></i></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


{% endblock %}
