{% extends 'base.html.twig' %}

{% block title %}Blog | BACK OFFICE{% endblock %}

{% block body %}


    <h1 class="display-4 text-center my-4"> BACK OFFICE </h1>

    <h4 class="text-center">Bienvenue <span class="text-info">{{app.user.username}}</span> dans votre <span class="text-danger">BACK OFFICE</span></h4>

    <a href="{{ path('admin_articles') }}" class="col-md-6 offset-md-3 btn btn-dark p-3 mb-2"> GESTION DES ARTICLES</a>
    <a href="{{ path('admin_categories') }}" class="col-md-6 offset-md-3 btn btn-dark p-3 mb-2"> GESTION DES CATEGORES</a>
    <a href="{{ path('admin_commentaires') }}" class="col-md-6 offset-md-3 btn btn-dark p-3 mb-2"> GESTION DES COMMENTAIRES</a>
    <a href="{{ path('admin_membres') }}" class="col-md-6 offset-md-3 btn btn-dark p-3 mb-2"> GESTION DES MEMBRES</a>


{% endblock %}
