{% extends "base.html.twig" %}

{% block title %}Mon blog Symfony | Détail articles{% endblock %}



{% block body %}

    <h1 class="display-4 text-center my-4">{{article.title}}</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="card lg-12 shadow-sm">
                <img src="{{ article.image|replace({'200/300': '1000/300'}) }}" alt="">
                <div class="card-body">
                    <p class="card-text">{{article.content|raw}}</p>
                </div>
                <small class="text-muted ml-2 mb-2">Publié le {{ article.createdAt|date('d/m/Y') }} à {{ article.createdAt|date('H:i:s') }}</small>

                <small><a class="btn btn-dark ml-2 mb-2" href="{{ path('blog_edit', {'id': article.id}) }}"> EDIT </a></small>
            </div>
        </div>
    </div>

{% endblock %}

